// @use "../../config" as *;
.wid {width: var(--wid);}
.PX {padding-inline: var(--PX);}
.PY {padding-block: var(--PY);}
.PX2 {padding-inline: var(--PX2);}
.MY {margin-block: var(--MY);}
.gap{gap: var(--gap);}
.gapH{gap: var(--gapH);}


.in1800{        padding-inline: var(--in1800);    }
.in1740{        padding-inline: var(--in1740);    }
.in1680{        padding-inline: var(--in1680);    }
.in1620{        padding-inline: var(--in1620);    }
.in1560{        padding-inline: var(--in1560);    }
.in1500{        padding-inline: var(--in1500);    }
.in1440{        padding-inline: var(--in1440);    }
.in1380{        padding-inline: var(--in1380);    }
.in1320{        padding-inline: var(--in1320);    }
.in1200{        padding-inline: var(--in1200);    }
.in1080{        padding-inline: var(--in1080);    }
.in1000{        padding-inline: var(--in1000);    }
.in960 {        padding-inline: var(--in960 );    }
.in840 {        padding-inline: var(--in840 );    }
.in800 {        padding-inline: var(--in800 );    }
.in720 {        padding-inline: var(--in720 );    }
.in660 {        padding-inline: var(--in660 );    }
.in600 {        padding-inline: var(--in600 );    }
