@use "../../config" as *;

.Header {//基本設定
        a {
                text-decoration: none;
        }

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        margin-inline: auto;
        z-index: 1000;
        &Inner {
                background-color: var(--innerBG);
                background-image: var(--innerBGI);
                min-height: var(--head);
                display: flex;

                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                padding-block: var(--innerPY);
                padding-inline: var(--innerPX);
                gap: var(--innerG);
                transition: var(--trans);


        }

        &Logo {

                z-index: 100;
                margin-right: auto;
                transform-origin: 0 0;
                max-width: unset;
                letter-spacing: normal;
                align-content: center;
                height: 100%;
                padding-inline: var(--logoPX);
                font-size: var(--logoFZ);
                line-height: 1;

                @media (max-width : 1560px) {
                        font-size: calc(var(--logoFZ)*0.875);
                }

                @media (max-width : 1320px) {
                        font-size: calc(var(--logoFZ)*0.75);
                }

                a {
                        display: block;
                        align-content: center;
                }

                img {
                        display: block;
                        width: var(--logoW);
                        max-width: 100%;
                        max-height: var(--logoH);

                        @media (max-width : 1560px) {
                                width: calc(var(--logoW)*0.875);
                        }

                        @media (max-width : 960px) {
                                width: calc(var(--logoW)*0.75);
                        }

                        &.Expand {
                                transform-origin: 0 0;
                                transition: 1.2s ease-in;
                                scale: 1;

                                &:not(.trans *) {
                                        scale: 1.6;

                                        @media (max-width : 1560px) {
                                                scale: 1.4;
                                        }
                                }
                        }
                }
        }

        &Pagetop {
                display: var(--PTdis);
                position: fixed;
                top: unset;
                bottom: var(--PTbottom);
                left: unset;
                right: var(--PTbottom);
                z-index: 1000;
                opacity: 0;
                transition: var(--trans);

                @inclute max-md {
                        right: unset;
                        left: var(--PTbottomTAB);
                }

                &:is(html:has(.Header.trans) *) {
                        opacity: 1;
                        pointer-events: all;
                }
                &:is(.Header.trans *) {
                        opacity: 1;
                        pointer-events: all;
                }

                a {

                        display: block;

                        color: var(--PTC);
                        background-color: var(--PTBG);
                        width: var(--PTW);
                        height: var(--PTW);
                        border-radius: var(--PTRad);
                        border: var(--PTborder);
                        border-color: var(--CC);
                        align-content: center;
                        text-align: center;

                        svg {
                                // 矢印アイコン（React コンポーネント）
                                transition: 0.4s;
                                scale: var(--PTscale);
                                width: 50%;
                                height: 50%;
                                display: inline-block;
                        }
                }

        }
}

.ThemeToggle {
        display: block;
        position: fixed;
        bottom: unset;
        top: var(--PTbottom);
        left: unset;
        right: var(--PTbottom);
        z-index: 1000;
        opacity: 0;
        transition: var(--trans);
        width: var(--PTW);
        height: var(--PTW);
        background-color: var(--PTBG);
        text-align: center;
        align-items: center;
        border-radius: 4px;

        @inclute max-md {
                left: unset;
                right: var(--PTbottomTAB);
        }

        &:is(html:has(.Header.trans) *) {
                opacity: 1;
                pointer-events: all;
        }

        svg {
                display: inline-block;
                color: var(--PTC);
                width: var(--PTW);
                height: var(--PTW);
                border-radius: var(--PTRad);
                border: var(--PTborder);
                border-color: var(--CC);
                align-content: center;
                text-align: center;

                width: 62.5%;
                height: 62.5%;
                margin-bottom: 2px;

                svg {
                        // 矢印アイコン（React コンポーネント）
                        transition: 0.4s;
                        scale: var(--PTscale);
                        display: inline-block;
                }
        }

}

.HasTheme .ThemeToggle {
        display: block;
}

// *******************************

.HeaderItems {
        order: 1;
        z-index: 1000;
        display: flex;
        align-items: center;
        padding-inline: var(--itemPX);
        gap: var(--itemG);
        transition: var(--trans);

        @include max-md {
                padding-bottom: env(safe-area-inset-bottom);
                padding-block: var(--PTbottomTAB);
                padding-inline: var(--PTbottomTAB);
                gap: var(--PTbottomTAB);

                // &:is(.trans *) {
                //         padding-left: calc(var(--PTW) + var(--PTbottomTAB)*2);
                // }

                .imgBtn {
                        img {
                                margin-inline: auto;
                        }
                }
        }

        @media (max-width: 480px) {
                .btn {
                        font-size: 0.875em;

                        &.__tel {
                                flex: 1.5;
                        }
                }
        }

        &.FixRight {
                position: fixed;
                top: 0;
                right: 0;
                flex-direction: column;

                .btn {
                        &:after {
                                display: none;
                        }
                }

                @include max-md {
                        --btnH: var(--head);
                        flex-direction: row;

                        top: unset;
                        bottom: 0;
                        right: 0px;
                        width: 100%;
                        padding: .25em .25em;
                        gap: .25em;

                        >* {
                                flex: 1;
                        }
                }

        }

        &.FixPC {

                position: fixed;
                bottom: 0;
                right: 0;

                @media (max-width : 1320px) {
                        bottom: 0;
                }

                flex-direction: column;
                align-items: flex-end;
                flex-wrap: wrap;

                @include max-md {

                        width: 100%;

                        .__img {
                                gap: 1em;
                                justify-content: center;
                                --btnImg: calc(var(--btnH)* .64);

                                span {
                                        display: inline-block;
                                        margin-right: .5em;
                                }
                        }

                        >*:not(.__w100) {
                                flex: 1;
                        }

                        .btn {
                                &.__line {
                                        flex: .5;
                                }
                        }

                        .iconbtn {
                                flex: unset;
                                padding-inline: .5em;
                                scale: 1.3;

                                i {
                                        font-size: var(--btnH);
                                }
                        }

                        .h_text {
                                flex: unset;
                                min-width: 50%;
                        }

                        .textlink {
                                height: var(--btnH);
                                padding-inline: var(--btnPX);
                                font-size: var(--btnFZ);
                                font-size: var(--f24);
                                border: var(--btnBD);
                                border-radius: var(--btnRad);
                                justify-content: center;
                                align-items: center;
                                gap: 0;

                                >* {
                                        font-size: 80%;
                                        margin-right: .5em;
                                }
                        }

                }

                @media (max-width : 640px) {
                        .textlink {
                                line-height: calc(var(--btnH)/2);
                        }

                        .textlink>* {
                                display: block;
                        }
                }
        }

        &.FixMenu {
                @include menu {
                        flex-wrap: wrap;
                        background-color: var(--innerBG);
                        position: fixed;
                        top: unset;
                        bottom: 0;
                        right: 0px;
                        padding: .5em;
                        gap: .5em;
                        border-top-left-radius: 10px;
                        justify-content: flex-end;

                        imgBtn {
                                flex: unset;
                                padding-inline: .25em;
                        }

                        .btn {
                                margin-top: unset;
                                border-radius: 10px;
                        }
                }

                @media (max-width : 640px) {
                        --btnImg: 2em;
                        border-top-left-radius: 0px;
                        width: 100%;

                        .btn.__coupon {
                                min-width: 100%;
                                padding-inline: 1em;
                        }
                }
        }

        &.Fix960 {
                @media (max-width : 960px) {
                        flex-wrap: wrap;
                        background-color: var(--innerBG);
                        position: fixed;
                        top: unset;
                        bottom: 0;
                        right: 0px;
                        padding: .5em;
                        gap: .5em;
                        border-top-left-radius: 10px;
                        justify-content: flex-end;
                }

                @media (max-width : 640px) {}
        }

        &.FixTab {

                @include max-md {
                        position: fixed;
                        top: unset;
                        bottom: 0;
                        right: 0px;
                        width: 100%;
                        padding: .25em var(--PX);
                        background-color: var(--innerBG);

                        &:is(.trans *) {
                                transform: translateY(100%);
                        }

                        >* {
                                flex: 1;
                                min-width: unset;
                                padding-inline: .5em;
                                text-align: center;
                                min-height: var(--head);
                                align-content: center;
                                font-size: 1rem;
                        }
                }
        }

        &.FixSP {
                @media (max-width : 640px) {
                        justify-content: flex-end;
                        border-bottom: unset;
                        border-top: 1px solid #ccc;

                        position: fixed;
                        top: unset;
                        bottom: 0;
                        right: 0px;
                        width: 100%;
                        gap: .0em;
                        --btnG: .0em;
                        background-color: var(--innerBG);

                        >* {
                                flex: 1;
                                min-width: unset;
                                --btnFZ: clamp(14px, 2vw, 18px);

                                +a {
                                        border-left: 1px solid #aaa;
                                }

                        }

                        .iconbtn {
                                flex: unset;
                                padding-inline: .5em;
                                scale: 1.3;

                                i {
                                        font-size: var(--btnH);
                                }
                        }

                        .h_text {
                                flex: unset;
                                min-width: 50%;
                        }

                        .textlink {

                                --btnH: var(--head);
                                height: var(--btnH);
                                height: 52px;
                                text-align: right;
                                line-height: calc(var(--btnH)/4);
                                padding-block: .5em;
                                flex: unset;
                                gap: 0;
                        }

                        a:has(>img) {
                                flex: 0.4;

                                img {
                                        margin-inline: auto;
                                }
                        }

                }
        }

}


.HeaderNav {
        &.a-chev {
                >ul>li>a::after {
                        content: "\f105";
                        margin-inline-start: .25em;
                        font-family: var(--icon);
                        font-weight: 900;
                        color: var(--AC);
                }
        }

        font-size: var(--navFZ);
        font-weight: var(--navFW);
        --aPY:var(--UN);
        --aPX:var(--UN);
        --spanFZ:75%;
        --spanFW:700;
        --spanFF:var(--eng);

        --navTRT:var(--trans);

        z-index: 1;
        padding-inline: var(--navPX);

        &::-webkit-scrollbar {
                width: 0px;
        }

        @include menu {
                display: none;
        }

        .NavUl {
                align-items: center;
                display: flex;
                justify-content: flex-end;
                height: 100%;
        }

        .NavLi {
                height: 100%;
                position: relative;
                padding-inline: var(--headG);
                padding-block: 0.5em;
                align-content: center;
                

                &:has(span) {
                        --liPY: calc(var(--headG)/2);

                        >a:is(#Header *) {
                                --aPY: calc(var(--headG)/2);
                                display: grid;
                                place-items: center;
                                place-content: center;
                                font-size: 75%;
                        }

                        span {
                                color: var(--spanC);
                                font-size: 133.334%;
                                font-weight: 500;
                                font-family: var(--Eng);

                                &:is(.span-uppercase *) {
                                        text-transform: uppercase;
                                }
                        }
                }
        }

        :is(a, .DropA) {
                padding-inline: var(--aPY);
                padding-block: var(--aPX);

                vertical-align: sub;
                text-align: left;
        }


        .FocusTrap {
                display: none;
        }

        .NavDrop {
                --size: 7.5px;
                will-change: transform;

                &::after {
                        top: calc(100%);
                        background-color: currentColor;
                }

                &:last-of-type .DropUl {
                        right: 0;
                        transform: unset;
                        transform-origin: top right;
                }

                &:has(.DropUl:popover-open) ul {
                        pointer-events: auto;
                        scale: 1 1;
                        opacity: 1;
                }
        }

        .DropA {
                appearance: none;
                background: transparent;
                border: 0;
                color: inherit;
                cursor: pointer;
                font: inherit;
        }

        .DropUl {
                // transition: var(--trans) allow-discrete;
                transition:
                        opacity var(--trans),
                        scale var(--trans),
                        overlay var(--trans) allow-discrete,
                        display var(--trans) allow-discrete;
                min-width: 15em;
                overflow: hidden;
                pointer-events: none;
                z-index: 1;
                display: block;
                scale: 1 0;
                transform-origin: top;
                opacity: 0;
                background-color: var(--dropBG);
                padding: 0.75em 1.5em;

                &:popover-open {
                        pointer-events: auto;
                        scale: 1 1;
                        opacity: 1;
                        // @starting-style {
                        //         scale: 1 0;
                        //         opacity: 0;
                        // }
                }

                @supports (top: anchor(bottom)) {
                        inset: auto;
                        top: anchor(bottom);
                        justify-self: anchor-center;
                        transform: unset;
                }

        }

        .NavDrop:last-of-type .DropUl {
                @supports (top: anchor(bottom)) {
                        right: anchor(right);
                        justify-self: unset;
                }
        }

        .DropLi {
                margin-top: 0.25em;

                a {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        white-space: nowrap;
                        width: 100%;
                        height: 100%;
                        color: var(--dropC);

                        svg {
                                margin-left: auto;
                                fill: currentColor;
                        }

                }
        }

        .DropUl:has(a:focus) {
                scale: 1 1;
                opacity: 1;
        }
}

.DropBtn {
        display: none;
}

.HeaderNav .DropUl {
        border-radius: 4px;
        border: var(--line);
}
.DropIcon {
        // 矢印アイコン（React コンポーネント）
        display: inline-block;
        // font-size: 1em;
        transition: var(--trans);
        vertical-align: middle;
        // width: 1em;
        fill: currentColor;
        stroke: currentColor;

        &:is(.HeaderNav .NavDrop:has(.DropUl:popover-open) *) {
                scale: 1 -1;
        }

        &:is(.NavInner .NavDrop:has(.DropBtn[aria-expanded=true]) *) {
                scale: 1 -1;
        }
        
}

// *******************************
.HeaderMenu {
        display: none;
        --dotW: calc(var(--btnH) * .125);

        @include menu {
                display: grid;
        }

        place-items: center;
        width: var(--menuH);
        height: var(--menuH);
        margin-inline: var(--menuM);
        border-radius: var(--menuRad);

        flex-shrink: 0;
        order: 2;
        z-index: 1000;
        background-color: var(--menuBG);
        position: relative;
        aspect-ratio: 1;
        --btnBG:var(--MC);

        &:where(.IsBurger) {
                >span {
                        //bar
                        transition: var(--trans);
                        grid-area: 1/1;
                        width: var(--spanW);
                        height: var(--spanH);
                        background-color: var(--menuC);
                        border-radius: var(--spanR);
                }

                .bar1 {
                        translate: 0 calc(-1 * var(--bargap));
                }

                .bar3 {
                        translate: 0 var(--bargap);
                }

                .bar2 {
                        translate: 0 0px;

                        &.tate {
                                rotate: 90deg;
                        }
                }

                //     &:hover>span{scale: 1.03 }
                &.active {
                        .bar2 {
                                scale: 1 1;
                        }

                        .bar2.tate {
                                scale: 0 1;
                        }

                        .bar1 {
                                translate: 0;
                                rotate: var(--deg);
                        }

                        .bar2 {
                                scale: 0;
                        }

                        .bar3 {
                                translate: 0;
                                rotate: calc(var(--deg)*-1);
                        }
                }
        }

        &:where(.IsDots) {
                --trans: 200ms;
                transition: var(--trans);

                >span {
                        //dot
                        transition: width var(--trans) linear, height var(--trans) linear, translate 0 linear, opacity var(--trans) var(--trans);
                        grid-area: 1/1;
                        width: var(--dotW);
                        height: var(--dotW);
                        border-radius: calc(var(--dotW));
                        box-sizing: content-box;
                        background-color: var(--menuC);
                        &:is(.active *){
                                background-color: var(--menuActive);
                        }



                        &:is(:has(.char) *) {
                                transform: translateY(calc(var(--bargap)*-0.5));
                        }
                }

                .char {
                        width: var(--UN);
                        aspect-ratio: unset;
                        background-color: var(--UN);
                        border-radius: unset;
                        translate: 0 calc(var(--bargap)*1.5);
                        font-family: var(--hff);
                        font-size: 12px;
                        color: var(--menuC);
                }

                .span1 {
                        translate: calc(var(--bargap)*-1) 0;
                        transform-origin: left;
                }

                .span2 {
                        translate: 0 0px;
                }

                .span3 {
                        translate: var(--bargap) 0;
                        transform-origin: right;
                }

                &[aria-expanded="true"],
                &:hover {
                        --dotW: calc(var(--btnH) * .1);

                        .span1 {
                                translate: 0 0;
                                width: calc(var(--dotW)*6);
                                transition: width var(--trans) linear, translate 0s;
                        }

                        .span2 {
                                height: calc(var(--dotW)*6);
                                transition: height var(--trans) linear;
                        }

                        .span3 {
                                opacity: 0;
                                transition: opacity 0s;
                        }
                }

                &[aria-expanded="true"] {
                        rotate: 45deg;
                }
        }
        &:focus {
                outline-color: transparent;
        }
        &:active {
                scale: 1.12;

        }
}


.HeaderNavMobile {
        font-weight: 500;
        color:  var(--SPnavC);

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        visibility: hidden;
        pointer-events: none;

        .NavLi {
                filter: blur(var(--bw));
                opacity: 0;
                translate: 0 var(--bw);
        }

        &.show {
                visibility: visible;
                pointer-events: all;

                li {
                        opacity: 1;
                        --bw: 0px;
                }
        }

        .FocusTrap {
                transition: var(--trans);
                width: 100%;
                background-color: var(--WH)8;
                z-index: 0;
                cursor: pointer;
                opacity: 0;
                visibility: hidden;

                &:is(.show .FocusTrap) {
                        opacity: 1;
                        visibility: visible;
                }

                &.__cross {
                        background-image: linear-gradient(-45deg, transparent, transparent calc(50% - 1px), var(--BK) 50%, transparent calc(50% + 1px)), linear-gradient(45deg, transparent, transparent calc(50% - 1px), var(--BK) 50%, transparent calc(50% + 1px));
                        position: fixed;
                        top: 0;
                        right: 0;
                        transform: none !important;
                        width: calc(100vw - var(--head));
                        height: 100lvh;
                        background-color: var(--WH)6;
                        visibility: hidden;
                        opacity: 0;

                        &:is(.active *) {
                                visibility: visible;
                                opacity: 1;
                        }
                }
        }

        .NavInner {
                &::-webkit-scrollbar {
                        width: 0px;
                }

                height: 100%;
                z-index: 1;
                width: 100%;
                overflow-y: scroll;
                overscroll-behavior-y: contain;
                display: grid;

                >* {
                        grid-area: 1/1;
                        height: calc(100% + 0px);
                }


        }

        .NavUl {
                &::-webkit-scrollbar {
                        width: 0px;
                }

                background: var(--SPnavBG);
                position: relative;
                z-index: 1;
                padding: calc(var(--PX) * 1);
                padding-block: calc(var(--head) * 1.5);
                width: 50%;
                margin-left: auto;
                // line-height: 1;
                opacity: 0;
                visibility: hidden;
                overflow-y: scroll;
                height: calc(100% + 1px);

                @include menu {
                        width: 66%;
                }

                @include max-md {
                        width: 100%;
                }

                &.show {
                        opacity: 1;
                        visibility: visible;
                }


        }

        .NavLi {
                display: block;
                height: fit-content;

                a {
                        font-size: var(--SPnavFZ);
                        padding: var(--SPnavPY) var(--SPnavPX);
                        display: flex;
                        align-items: baseline;
                        gap: 1em;
                        margin-inline: auto;

                        span {
                                color: var(--spanC);
                                font-weight: var(--spanFW);
                                font-size: var(--spanFZ);
                                margin-inline-end: .75em;
                                font-family: var(--Eng);
                        }

                }

                .DropA {
                        flex: 1;
                }

                .NoPointer {
                        cursor: pointer;
                }
        }

        .NavDrop {
                display: flex;
                flex-wrap: wrap;
                position: relative;

                &:has(.DropBtn) {
                        padding-right: var(--h);
                }

        }

        .DropUl {
                width: 100%;
                overflow: hidden;
                padding-left: 1em;
        }

        .DropLi {
                padding: unset;
                scale: 1;
                width: 100%;
                margin: unset;
                height: unset;
                overflow: hidden;

                display: grid;
                grid-template-rows: 0fr;

                >a {
                        padding-block: 0;
                        width: 100%;
                        min-height: 0;
                        transition: var(--trans);
                }
                svg {
                        @apply shrink-0;
                }
                &:is(ul.show>*) {
                        grid-template-rows: 1fr;

                        a {
                                padding-block: var(--SPnavPY);
                        }
                }
        }

        .dropbtn {
                display: none;
        }


}

:is(.Header, .Footer) {
        [class*=li-bd]:not(.HeaderNavMobile) {
                height: unset;

                >ul>li {
                        --line: 2px solid var(--CC);
                        padding-inline: var(--headG);
                        line-height: 1.2;
                }

                >ul>li+li {
                        border-left: var(--line);
                }
        }

        .li-bdInline {
                >ul>li {
                        border-inline: var(--line);
                }

                >ul>li+li {
                        margin-inline-start: -1px;
                }
        }

        .li-bdL {
                >ul>li {
                        padding-inline: var(--headG) 0;
                }

                >ul>li+li {
                        border-left: var(--line);
                }
        }

        .li-bdR {
                >ul>li {
                        padding-inline: 0 var(--headG);
                        //    margin-inline: 0 var(--headG) ;
                        border-right: var(--line);
                }
        }
}

:is(.Header, .Footer) [class*=li-slash]:not(.HeaderNavMobile) {
        height: unset;

        >ul>li {
                line-height: 1;

                &:first-child:before {
                        display: none;
                }

                >* {
                        line-height: 1.2;
                        gap: .5em;
                        place-items: start;
                        @extend %bfin;

                        &:before {
                                content: '/';
                                // position: absolute;
                                inset: unset;
                                left: 0em;
                                // transform: translateX(-50%) ;
                                background-color: unset;
                                color: inherit;
                                font-size: 1.5em;
                                font-weight: 100;
                                margin-right: 0.25em;
                        }
                }


                &.NavDrop a {
                        place-items: center;
                }
        }
}



