@use "../../config" as *;
.Header { //ヘッダー変形class、固有style 

        // *****************trans時色変更
        // .HeaderInner:not(.trans *,.active *){color: var(--WH);}
        // .HeaderInner:is(.trans *,.active *){color: var(--tx);}
        // .HeaderNav:not(.trans *,.active *){color: var(--WH);}
        // .HeaderNav:is(.trans *,.active *){color: var(--tx);}
        // .HeaderMenu:not(.trans *,.active *){--menuC: var(--WH);}
        // .HeaderMenu:is(.trans *,.active *){--menuC: var(--tx);}
        // @media (max-width: 834px){
        //     .HeaderInner:not(.trans *,.active *){color: var(--tx);}
        //     .HeaderNav:not(.trans *,.active *){color: var(--tx);}
        //     .HeaderMenu:not(.trans *,.active *){--menuC: var(--tx);}
        // }
        // *****************trans時色変更

        // ******************未使用テンプレ完了時消去
        &.UpInit {//js処理変更、上スクロールでinit(通常に戻るtrans外す)
                transition: var(--trans);

                &.trans {
                        margin-top: var(--Nhead);
                }
        }
        
        // &.EdgeRail {//初設定、余白調整有
        //         --menuH: calc(var(--head) + 2em);

        //         .HeaderInner {
        //                 padding-right: unset;
        //                 background-color: unset;
        //         }

        //         .HeaderLogo {
        //                 line-height: 1;
        //         }

        //         .btn {
        //                 display: block;
        //                 --btnC: var(--tx);
        //                 writing-mode: vertical-rl;
        //                 min-width: var(--head);
        //                 min-height: var(--head);
        //                 border: unset;
        //                 background-color: unset;

        //                 &:after {
        //                         display: none;
        //                 }
        //         }

        //         .HeaderItems {
        //                 display: block;
        //                 position: absolute;
        //                 right: 0;
        //                 top: 0;
        //                 background-color: var(--innerBG);
        //                 border-left: var(--line);
        //                 border-top: 1px solid transparent;

        //                 >* {
        //                         border-bottom: var(--line);
        //                 }

        //                 @include menu {
        //                         top: var(--menuH);
        //                 }
        //         }

        //         .HeaderNav {
        //                 background-color: var(--innerBG);
        //                 outline: var(--line);
        //                 min-height: var(--head);
        //                 align-content: center;
        //                 padding-right: var(--head);
        //         }

        //         .HeaderMenu {
        //                 background-color: var(--innerBG);
        //                 outline: var(--line);
        //                 margin: unset;
        //                 width: var(--head);
        //         }

        //         .NavInner>.NavUl {
        //                 padding-right: var(--head);
        //         }
        // }

        // &.InitColumn {//初設定、余白調整有
        //         @include menuMin {
        //                 .HeaderInner {
        //                         &:not(.trans *) {

        //                                 width: fit-content;
        //                                 flex-direction: column;
        //                                 align-items: unset;
        //                                 justify-content: unset;
        //                                 background-color: var(--UN);
        //                                 gap: 1em var(--innerG);
        //                         }

        //                 }

        //                 .HeaderLogo {
        //                         margin-block: calc((var(--head) - 1em)/2);

        //                         a {
        //                                 line-height: 1;
        //                                 white-space: nowrap;
        //                         }

        //                         &:not(.trans *) {
        //                                 margin-block: calc((var(--head) - 1em)/2);

        //                         }
        //                 }

        //                 .HeaderItems {
        //                         &:not(.trans *) {
        //                                 flex-direction: column;
        //                                 align-items: flex-start;
        //                                 gap: 1em var(--itemG);
        //                         }
        //                 }

        //                 .HeaderNav {
        //                         &:not(.trans *) {
        //                                 padding-inline: unset;
        //                                 padding-block: var(--navPX);

        //                                 ul {
        //                                         flex-direction: column;
        //                                         align-items: flex-start;
        //                                 }

        //                                 li {
        //                                         place-items: unset;
        //                                         padding-inline: unset;
        //                                         padding-block: var(--navPX);
        //                                 }
        //                         }
        //                 }
        //         }
        // }

        &.Parallel {

                .HeaderLogo {
                        margin: unset;
                        // overflow: hidden;
                        // display: grid;
                        // grid-template-rows: 0fr;
                        // grid-template-columns: 0fr;
                        // transition: .6s;
                        // &:is(.trans *){
                        //     grid-template-rows: 1fr;
                        //     grid-template-columns: 1fr;
                        //     grid-template: 1fr;
                        // }
                        // @include max-md { 
                        //     grid-template-rows: 1fr;
                        //     grid-template-columns: 1fr;
                        //     grid-template: 1fr;

                        // }
                }

                .HeaderInner {
                        justify-content: center;

                        @include menu {
                                justify-content: space-between;
                                // justify-content: flex-end;
                                // .HeaderItems{margin-inline: auto;}
                        }
                }

                .FixTab:is(#Header *) {
                        @include max-md {
                                >* {
                                        text-align: center;
                                }

                                .textlink {
                                        font-size: calc(var(--btnH)*.3);
                                }

                        }

                }
        }

        // &.NavCenter {//初設定、装飾有
        //         .HeaderLogo {
        //                 position: absolute;
        //                 top: 0;
        //                 left: var(--innerPX);

        //                 @include menu {
        //                         position: unset;
        //                 }
        //         }

        //         .HeaderItems {
        //                 position: absolute;
        //                 top: 0;
        //                 right: var(--innerPX);
        //                 display: block;
        //                 align-content: center;
        //                 height: 100%;

        //                 @include menu {
        //                         position: unset;
        //                 }

        //                 >*+* {
        //                         display: block;
        //                         margin-top: var(--itemG);
        //                         margin-top: calc(var(--bodyFZ)*0.125);
        //                 }

        //                 @media (max-width: 834px) {
        //                         position: fixed;
        //                         top: unset;
        //                         right: 0;
        //                         bottom: 0;
        //                         height: unset;
        //                         width: unset;
        //                         border-top-left-radius: var(--radH);
        //                         background-color: var(--WH);
        //                 }
        //         }

        //         .HeaderInner {
        //                 background-color: var(--UN);
        //         }

        //         .HeaderNav {
        //                 margin-inline: auto;
        //                 background-color: var(--innerBG);
        //                 padding-block: 0.5em;
        //                 border-radius: var(--radH);
        //         }
        // }

        // &:has(.HeaderNav.__tate) {
        //         &:is(html:has(.policy-wrap.active) *) {
        //                 opacity: 0;
        //                 pointer-events: none;
        //         }

        //         .HeaderNav.__tate {
        //                 align-content: center;
        //                 transition: var(--btnTR);

        //                 >ul {
        //                         // display: block;
        //                         align-items: start;
        //                 }

        //                 >ul li {
        //                         display: inline-block;
        //                         writing-mode: vertical-rl;
        //                         height: unset;
        //                         text-align: left;
        //                         transition: var(--btnTR);
        //                         padding: calc(var(--headG)/2);

        //                         &:hover {
        //                                 background-color: var(--BC);
        //                         }

        //                         &.NavDrop {
        //                                 z-index: 1;
        //                         }
        //                 }

        //                 >ul li.NavDrop ul {
        //                         right: 0;
        //                         left: unset;
        //                         transform-origin: right;

        //                         li {
        //                                 transition: var(--btnTR);
        //                         }

        //                         li:hover {
        //                                 background-color: var(--BC);
        //                         }

        //                 }

        //                 >ul li.NavDrop ul li {
        //                         height: unset;
        //                         // writing-mode: horizontal-tb;

        //                 }
        //         }

        //         nav.KUSHI {
        //                 >ul>li {
        //                         background: linear-gradient(var(--AC30), var(--AC30)) no-repeat center/2px 100%;
        //                         padding-block: .25em;

        //                         a,
        //                         span {
        //                                 padding-inline: .35em;
        //                                 background-color: var(--innerBG);
        //                                 vertical-align: unset;
        //                         }

        //                         a:hover {
        //                                 filter: brightness(140%);
        //                         }
        //                 }

        //                 >ul>li.NavDrop ul {
        //                         --size: .5em;

        //                         a {
        //                                 padding-block: .5em;
        //                         }
        //                 }

        //                 >ul>li.NavDrop::after {
        //                         background-color: var(--AC);
        //                 }
        //         }

        //         &.trans .btn {
        //                 background-color: color-mix(in srgb, var(--btnBG), transparent 30%);

        //                 &:hover {
        //                         background-color: var(--btnBG);
        //                 }
        //         }

        //         .btn {
        //                 @media (max-width : 480px) {
        //                         --btnDir: column;
        //                         --btnFZ: 14px;
        //                         letter-spacing: 0;
        //                 }
        //         }

        //         // width: unset;
        //         // top: var(--gap);
        //         // left: var(--gap);
        //         @include menu {
        //                 top: 0;
        //                 left: 0;
        //         }

        //         .HeaderInner {
        //                 height: unset;
        //                 background-color: unset;
        //                 align-items: flex-start;


        //                 // background: var(--innerBG); 
        //                 // &:is(.trans *){
        //                 //     background-color: color-mix(in srgb, var(--innerBG) , transparent 30%);
        //                 // }
        //                 // background: linear-gradient(to bottom,var(--innerBG),color-mix(in srgb, transparent,var(--innerBG) 50%) 50%,transparent 90%); 
        //                 @include max-md {
        //                         justify-content: space-between;
        //                 }
        //         }

        //         .HeaderLogo {
        //                 // margin: unset;
        //                 overflow: hidden;
        //                 // display: grid;
        //                 // grid-template-rows: 0fr;
        //                 // grid-template-columns: 0fr;
        //                 // transition: 1.2s ease-in-out;
        //                 // &:is(.trans *){
        //                 //     grid-template-rows: 1fr;
        //                 //     grid-template-columns: 1fr;
        //                 //     grid-template: 1fr;
        //                 // }
        //                 // @include menu{
        //                 //     grid-template-rows: 1fr;
        //                 //     grid-template-columns: 1fr;
        //                 //     grid-template: 1fr;
        //                 //     margin-inline: auto;
        //                 // }
        //         }

        //         .HeaderItems.FixPC {
        //                 flex-wrap: nowrap;
        //                 bottom: var(--gap);
        //                 right: var(--gap);
        //                 box-shadow: 0 0 2px var(--MC);

        //                 @include menu {
        //                         flex-direction: row;
        //                         bottom: 0;
        //                         right: 0;
        //                 }

        //                 @include max-md {
        //                         flex-direction: row;
        //                         width: 100%;

        //                         >* {
        //                                 flex: 1;
        //                                 min-width: unset;
        //                         }
        //                 }

        //         }

        // }

        // &.MvBottom {
        //         position: fixed;
        //         top: 0;

        //         .HeaderInner {
        //                 justify-content: center;
        //         }

        //         .HeaderNavMobile li.logo {
        //                 display: none;
        //         }

        //         @include menu {
        //                 position: fixed;
        //                 top: 0;

        //                 .HeaderNav:has(li.logo) {
        //                         display: block;

        //                         li:not(.logo) {
        //                                 display: none;
        //                         }
        //                 }
        //         }
        // }

        // &.InnerWrap {
        //         &.trans {
        //                 --head: 72px;

        //                 @media (max-width: 834px) {
        //                         --head: 64px;
        //                 }
        //         }

        //         .HeaderMenu {
        //                 order: unset;
        //         }

        //         .HeaderNav {
        //                 width: 100%;

        //                 &:is(.trans *) {
        //                         width: unset;
        //                 }
        //         }

        //         .HeaderItems {
        //                 order: unset;
        //                 justify-content: end;
        //         }

        //         .HeaderInner {
        //                 flex-direction: row-reverse;
        //                 justify-content: unset;
        //                 align-content: center;
        //                 background-color: unset;
        //                 flex-wrap: wrap;
        //         }

        //         .HeaderLogo {
        //                 position: absolute;
        //                 top: 0;
        //                 left: var(--logoPX);
        //                 transition: 0.6s 0.3s;

        //                 &:is(.trans *) {
        //                         transition: 0.6s 0s;

        //                         @media (max-width: 1560px) {
        //                                 opacity: 0;
        //                                 pointer-events: none;
        //                         }

        //                         @include menu {
        //                                 opacity: 1;
        //                                 pointer-events: all;
        //                         }
        //                 }
        //         }
        // }

        // &.InnerCol,
        // &.Nav100 {
        //         .HeaderInner {
        //                 flex-direction: column;
        //                 align-items: flex-end;
        //                 justify-content: space-evenly;

        //                 @include menu {
        //                         flex-direction: row;
        //                         align-items: center;
        //                         justify-content: flex-end;
        //                         padding-block: unset;
        //                 }
        //         }

        //         .HeaderLogo {
        //                 position: absolute;
        //                 top: 0;
        //                 left: var(--innerPX);

        //                 @include menu {
        //                         position: unset;
        //                 }
        //         }

        //         .HeaderItems {
        //                 order: unset;
        //         }

        //         .HeaderNav {
        //                 height: unset;
        //                 // ul li:last-of-type{padding-right: unset;}
        //         }
        // }

        // &.LeftSide {//HeaderNav inert HeaderNavMobile navulを無効コメントアウト 複製nav追加しない
        //         --headG: calc(3lvh);
        //         --innerPX: calc(var(--headG)*1);
        //         --navFZ: 2.25lvh; //pcnavFZ

        //         --btnW: calc(var(--head) - 3em);
        //         pointer-events: none;
        //         font-size: 1.8lvh;

        //         a {
        //                 text-decoration: none;
        //         }

        //         position: fixed;
        //         top: 0;
        //         left: 0;
        //         width: var(--head);
        //         height: 100lvh;
        //         z-index: 1000;

        //         .HeaderLogo {
        //                 max-width: 100%;
        //                 height: unset;
        //                 margin-inline: unset;
        //                 margin-bottom: auto;
        //                 filter: var(--pxdsbc);

        //                 &:is(.trans *) {
        //                         scale: 0.75;
        //                 }
        //         }

        //         .HeaderInner {
        //                 background-color: var(--UN);
        //                 padding-block: var(--innerPX);
        //                 padding-inline: unset;
        //                 height: 100%;
        //                 display: flex;
        //                 flex-direction: column;
        //                 align-items: flex-start;
        //                 transition: .4s;
        //                 gap: 1em;
        //                 pointer-events: none;

        //                 >* {
        //                         pointer-events: all;
        //                         transition: .6s;
        //                 }
        //         }

        //         .HeaderItems {
        //                 --btnBG: var(--MC);
        //                 --btnC: var(--WH);
        //                 z-index: 100;
        //                 display: flex;
        //                 flex-direction: column;
        //                 align-items: flex-start;
        //                 gap: 1em;

        //                 >* {
        //                         padding-inline: var(--btnPX);
        //                 }
        //         }

        //         .h_text {
        //                 padding: var(--btnPX);
        //                 line-height: calc((var(--btnH)/2));
        //                 flex: unset;
        //                 font-size: 70%;
        //         }

        //         .HeaderMenu {
        //                 position: fixed;
        //                 inset: unset;
        //                 right: .5em;
        //                 top: .5em;
        //                 --btnH: 5lvh;
        //                 display: grid;
        //                 opacity: 0;
        //                 pointer-events: none;
        //                 filter: var(--pxdsbc);
        //         }

        //         .HeaderNav {
        //                 width: 100%;
        //                 z-index: 1;
        //                 padding-block: var(--headG);

        //                 hr {
        //                         border-bottom: 1px solid var(--tx);
        //                         margin-block: unset;
        //                         width: 100%;
        //                 }

        //                 a {
        //                         border-bottom: var(--UN);
        //                 }

        //                 // &::-webkit-scrollbar {width: 0px;}
        //                 >ul {
        //                         width: 100%;
        //                         flex-direction: column;
        //                         justify-content: space-evenly;


        //                 }

        //                 ul>li {
        //                         height: unset;
        //                         flex: 1;
        //                         padding-inline: unset;
        //                         padding-block: var(--headG);
        //                 }

        //                 ul>li>a {
        //                         height: 100%;

        //                         img {
        //                                 display: inline-block;
        //                         }
        //                 }


        //         }

        //         .HeaderNavMobile {
        //                 display: none;

        //                 .HeaderNavMobile_inner>ul {
        //                         padding-block: calc(var(--logoH)*2) !important;
        //                 }
        //         }

        //         &:not(.home *),
        //         &.trans {
        //                 width: 100%;

        //                 .HeaderMenu {
        //                         opacity: 1;
        //                         pointer-events: all;
        //                 }

        //                 &.active {
        //                         .HeaderNav {
        //                                 opacity: 1;
        //                                 pointer-events: all;
        //                         }

        //                         .HeaderInner {
        //                                 background-color: var(--innerBG);
        //                         }
        //                 }
        //         }

        //         &:not(.home *):not(.active),
        //         &.trans:not(.active) {
        //                 .HeaderNav {
        //                         transition: 0s;
        //                         opacity: 0;
        //                         pointer-events: none;
        //                 }
        //         }

        //         @include menu {
        //                 width: 100%;

        //                 &:is(.active) {
        //                         .HeaderNav {
        //                                 opacity: 1;
        //                                 pointer-events: all;
        //                         }

        //                         .HeaderInner {
        //                                 background-color: var(--BC);
        //                         }
        //                 }

        //                 .FocusTrap {
        //                         display: none;
        //                 }

        //                 .HeaderNav {
        //                         display: block;
        //                         opacity: 0;
        //                         pointer-events: none;
        //                 }

        //                 .HeaderInner {
        //                         padding-block: 1em 0;
        //                         padding-inline: unset;
        //                 }

        //                 .HeaderMenu {
        //                         right: 0;
        //                         top: 0;
        //                         --btnH: 4lvh;
        //                         opacity: 1;
        //                         pointer-events: all;
        //                 }

        //                 .HeaderItems {
        //                         flex-direction: row;
        //                         padding-inline: unset;

        //                         &:is(#Header *) {
        //                                 .h_text {
        //                                         background-color: var(--WH);
        //                                 }

        //                                 .textlink {
        //                                         min-height: var(--btnH);
        //                                         padding-inline: var(--btnPX);
        //                                         font-size: var(--btnFZ);
        //                                         border-radius: var(--btnRad);
        //                                         background-color: var(--WH);
        //                                         display: inline-flex;
        //                                         align-items: center;
        //                                         gap: var(--btnG);
        //                                 }
        //                         }
        //                 }

        //                 &.active {
        //                         .HeaderNav {
        //                                 opacity: 1;
        //                                 visibility: visible;
        //                                 pointer-events: all;
        //                         }

        //                 }
        //         }

        // }

        // &.NavColumnRight {
        //         --navgap: 2lvh;

        //         .HeaderInner {
        //                 align-items: flex-end;
        //                 padding-bottom: .5em;

        //                 @include menu {
        //                         align-items: center;
        //                         padding-bottom: unset;
        //                 }
        //         }

        //         .HeaderItems {
        //                 padding-bottom: .5em;

        //                 @include menu {
        //                         padding-bottom: unset;
        //                 }
        //         }

        //         .textlink:not(.__tel) {
        //                 font-size: 1.25em;
        //         }

        //         .textlink {
        //                 font-size: 1.25em;

        //                 @include menu {
        //                         padding-block: 0.25em;
        //                 }
        //         }

        //         .HeaderNav {
        //                 position: absolute;
        //                 right: 0;
        //                 top: var(--head);
        //                 padding-block: var(--navgap);

        //                 >ul {
        //                         flex-direction: column;
        //                         align-items: flex-end;
        //                         gap: var(--navgap);
        //                         // li>a{
        //                         //     background-color: var(--bk10);
        //                         //     padding-inline: 0.125em;
        //                         // }
        //                 }

        //                 &:is(.trans *) {
        //                         a {
        //                                 color: var(--tx);
        //                         }

        //                         --tsW: 12px;
        //                         --txshbk: 0 0 var(--tsW) var(--WH),
        //                         0 0 var(--tsW) var(--WH),
        //                         0 0 var(--tsW) var(--WH),
        //                         0 0 var(--tsW) var(--WH);
        //                 }
        //         }

        //         .HeaderNav>ul li.NavDrop ul {
        //                 right: 0;
        //         }

        //         .HeaderNav>ul li.NavDrop ul a {
        //                 justify-content: flex-end;
        //                 padding-inline: var(--headG);
        //         }

        //         .HeaderNav>ul li.NavDrop ul {
        //                 transform-origin: right;
        //                 padding-block: 1em;

        //                 li {
        //                         display: grid;
        //                         place-items: center end;
        //                         place-content: center end;
        //                         padding-inline: var(--headG);

        //                         a {
        //                                 padding-inline: unset;
        //                         }
        //                 }
        //         }
        // }

        // &.NavBtn {
        //         --innerPX: calc(var(--UN)*1);
        //         // --innerPY: 1em;
        //         --navPX: calc(var(--UN)*.5);
        //         --itemPX: calc(var(--UN)*1);
        //         --itemG: 0em;
        //         pointer-events: none;

        //         .HeaderInner {
        //                 align-items: unset;
        //         }

        //         .HeaderInner>* {
        //                 pointer-events: all;
        //         }

        //         .HeaderLogo:is(a) {
        //                 height: var(--btnH);
        //         }

        //         .HeaderMenu {
        //                 --btnH: var(--head);
        //                 --btnBG: var(--WH);
        //                 background-color: var(--btnBG);
        //                 border-radius: unset;
        //         }

        //         .HeaderNav {
        //                 ul {
        //                         li {
        //                                 padding: unset;
        //                         }

        //                         a {
        //                                 height: 100%;
        //                         }
        //                 }

        //                 >ul li.NavDrop::after {
        //                         top: calc(100% - var(--size) - .5lvh);
        //                 }
        //         }
        // }

        &.MenuPC {
                .HeaderMenu {
                        display: grid;
                }

                .HeaderNav {
                        display: none;
                }
        }

        // &.NoFix {
        //         position: absolute;

        //         @include menu {
        //                 position: fixed;
        //         }
        // }

        // &.Nav100 {
        //         --innerGap: calc(var(--head)*.14);

        //         @include menu {
        //                 --innerGap: 0px;
        //         }

        //         .HeaderNav {
        //                 height: unset;
        //                 width: 100%;

        //                 >ul {
        //                         display: grid;
        //                         grid-auto-flow: column;
        //                         place-content: stretch;
        //                 }
        //         }
        // }

        // &.NavLeft {
        //         .HeaderLogo {
        //                 margin-right: unset;

        //                 @include menu {
        //                         margin-right: auto;
        //                 }
        //         }

        //         .HeaderNav {
        //                 margin-right: auto;
        //         }
        // }

        &.LinkShadow {
                button:not(.DropUl *) ,
                a:not(.DropUl *) {
                        filter: var(--DS) var(--DS) var(--DS);
                }
        }

        &.Triangle {

                svg path {
                        fill: white;
                        stroke: var(--BK70);
                        stroke-width: 2em;
                }

                .NavLi {
                        font-size: 1.25rem;
                }

                button:not(.HeaderLogo) ,
                a:not(.HeaderLogo) {
                        color: var(--WH);
                        -webkit-text-stroke: .125em var(--BK70);
                        paint-order: stroke;
                }

                button:not(.DropUl *):hover ,
                a:not(.DropUl *):hover {
                        color: var(--AC);
                }

                @apply h-full pointer-events-none;

                .HeaderInner {
                        @apply px-0 flex-col items-end justify-between h-full;

                        >* {
                                pointer-events: auto;
                        }

                }

                .HeaderLogo {
                        @apply absolute w-[var(--logoW)] top-1/2 left-0 translate-y-[-50%] pointer-events-auto h-auto;
                        background: url(/images/clip01.png) repeat center/20vw;
                        filter: grayscale(50%);
                        border-radius: 0 999px 999px 0;
                        overflow: hidden;
                        border: 10px solid var(--TR);
                        border-left: 0;
                        aspect-ratio: 1/2;
                        transform-origin: 0 0%;
                        transition: var(--trans);

                        &:hover {
                                scale: 1.06;
                        }

                        a {
                                font-size: 2vw;
                                line-height: 1;
                                padding-left: 0.5em;
                                display: block;
                                height: 100%;
                                align-content: center;
                                background-color: var(--WH);

                                >span {
                                        font-weight: 700;
                                        -webkit-text-stroke: .025em var(--BK50);
                                        paint-order: stroke;
                                        background: url(/images/clip01.png) repeat 70% 50%/10vw;
                                        background-color: var(--WH);
                                        background-clip: text;
                                        color: var(--TR);
                                }
                        }
                }

                .HeaderMenu {
                        @apply top-2 right-2;
                }

                .HeaderNav {
                        @apply h-[--head];
                }

                .HeaderUl {
                        @apply flex flex-wrap items-center justify-center gap-1 p-2;
                }

                .HeaderItems {
                        @apply flex flex-col items-end text-right p-2 gap-0;

                        @include menu {
                                order: 3;
                        }
                }

                .HeaderItems>a {
                        @apply px-[--headG];
                }

                .DropIcon {
                        @apply ml-1;
                }

                .NavInner ul a {
                        display: block;
                        text-align: right;

                }

                .HeaderNavMobile .NavInner .DropBtn {
                        display: none;
                }
        }

        &.NavCircleLeft {
                svg path {
                        fill: white;
                        stroke: var(--BK70);
                        stroke-width: 2em;
                }

                li {
                        font-size: 1.25rem;
                }

                a:not(.HeaderLogo) {
                        color: var(--WH);
                        -webkit-text-stroke: .125em var(--BK70);
                        paint-order: stroke;
                }

                a:not(.DropUl *):hover {
                        color: var(--AC);
                }

                @apply h-full pointer-events-none;

                .HeaderInner {
                        @apply px-0 flex-col items-end justify-between h-full;

                        >* {
                                pointer-events: auto;
                        }

                }

                .HeaderNav {
                        @apply absolute top-1/2 left-0 translate-y-[-50%] pointer-events-auto z-[100] w-[--logoW] aspect-[1/2];

                        ul {
                                @apply grid;
                        }

                        li {
                                @apply py-0 content-center h-[unset];
                                background: linear-gradient(var(--TC), var(--TC)) no-repeat center/100% 1px;
                                background-color: var(--GR10);
                        }

                        ul:has(li:nth-of-type(6):last-of-type) {

                                li:nth-of-type(1),
                                li:nth-of-type(6) {
                                        transform: translateX(44%);
                                }

                                li:nth-of-type(2),
                                li:nth-of-type(5) {
                                        transform: translateX(83%);
                                }

                                li:nth-of-type(3),
                                li:nth-of-type(4) {
                                        transform: translateX(98%);
                                }
                        }

                        ul:has(li:nth-of-type(5):last-of-type) {

                                li:nth-of-type(1),
                                li:nth-of-type(5) {
                                        transform: translateX(49%);
                                }

                                li:nth-of-type(2),
                                li:nth-of-type(4) {
                                        transform: translateX(89%);
                                }

                                li:nth-of-type(3) {
                                        transform: translateX(100%);
                                }
                        }

                        ul:has(li:nth-of-type(4):last-of-type) {

                                li:nth-of-type(1),
                                li:nth-of-type(4) {
                                        transform: translateX(58%);
                                }

                                li:nth-of-type(2),
                                li:nth-of-type(3) {
                                        transform: translateX(95.5%);
                                }
                        }

                        ul:has(li:nth-of-type(3):last-of-type) {

                                li:nth-of-type(1),
                                li:nth-of-type(3) {
                                        transform: translateX(68%);
                                }

                                li:nth-of-type(2) {
                                        transform: translateX(100%);
                                }
                        }

                        ul:has(li:nth-of-type(2):last-of-type) {

                                li:nth-of-type(1),
                                li:nth-of-type(2) {
                                        transform: translateX(83%);
                                }
                        }

                        ul:has(li:nth-of-type(1):last-of-type) {
                                li:nth-of-type(1) {
                                        transform: translateX(100%);
                                }
                        }
                }

                .HeaderLogo {
                        @apply absolute w-[var(--logoW)] top-1/2 left-0 translate-y-[-50%] pointer-events-auto h-auto z-[1000];
                        border-radius: 0 999px 999px 0;
                        overflow: hidden;
                        border-left: 0;
                        aspect-ratio: 1/2;
                        transform-origin: 0 0%;
                        transition: var(--trans);

                        // &:hover{
                        //         scale: 1.06;
                        // }
                        a {
                                font-size: 2vw;
                                line-height: 1;
                                padding-left: 0.5em;
                                display: block;
                                height: 100%;
                                align-content: center;

                                >span {
                                        font-weight: 700;
                                        -webkit-text-stroke: .025em var(--BK50);
                                        paint-order: stroke;
                                        background: url(/images/clip01.png) repeat 70% 50%/10vw;
                                        background-color: var(--WH);
                                        background-clip: text;
                                        color: var(--TR);
                                }
                        }

                        &:has(.LogoCylinder) {
                                filter: none;
                                overflow: hidden;
                        }

                        a.LogoObject {
                                width: 100%;
                                padding-left: 0;
                                background: var(--TR);
                                color: var(--TC);
                        }

                        .LogoCylinder {
                                width: var(--logoW);
                                height: calc(var(--logoW) * 2);
                                display: block;
                        }

                        .LogoLoading {
                                width: var(--logoW);
                                height: calc(var(--logoW) * 2);
                                border-radius: inherit;
                        }
                }

                .HeaderMenu {
                        @apply top-2 right-2;
                }

                .HeaderItems {
                        @apply flex flex-col items-end text-right p-2 gap-0;

                        @include menu {
                                order: 3;
                        }
                }

                .HeaderItems>a {
                        @apply px-[--headG];
                }

                .DropIcon {
                        @apply ml-1;
                }

                .NavInner ul a {
                        display: block;
                        text-align: right;

                }

                .HeaderNavMobile .NavInner .DropBtn {
                        display: none;
                }
        }

        @keyframes header_anotation_toggle {
                0%, 49.999% {
                        opacity: 1;
                }
                50%, 100% {
                        opacity: 0;
                }
        }

        // &.NavCircleTop {
        //         svg path {
        //                 fill: white;
        //                 stroke: var(--BK70);
        //                 stroke-width: 2em;
        //         }

        //         a:not(.HeaderLogo) {
        //                 color: var(--WH);
        //                 -webkit-text-stroke: .125em var(--BK70);
        //                 paint-order: stroke;
        //         }

        //         a:not(.DropUl *):hover {
        //                 color: var(--AC);
        //         }

        //         @apply h-full pointer-events-none;
        //         font-size: 1.25rem;

        //         .HeaderInner {
        //                 @apply px-0 flex-col items-end justify-between h-full;

        //                 >* {
        //                         pointer-events: auto;
        //                 }

        //         }

        //         .HeaderNav {
        //                 @apply absolute top-0 left-1/2 translate-x-[-50%] pointer-events-auto z-[100] h-[unset];

        //                 --listH: 2.5em;
        //                 --listN: 3;

        //                 ul {
        //                         @apply block bg-MC/90 aspect-[2/1];
        //                         border-radius: 0 0 999px 999px;
        //                         height: calc(var(--listH) * var(--listN));
        //                 }

        //                 li {
        //                         @apply p-0 h-auto min-h-[--listH] content-center w-auto text-center;
        //                         background: linear-gradient(var(--TC), var(--TC)) no-repeat center/ 1px 100%, linear-gradient(var(--TC), var(--TC)) no-repeat center/100% 1px;
        //                         background-color: var(--GR10);
        //                         display: inline-block;
        //                         width: 50%;
        //                 }

        //                 ul:has(li:nth-of-type(6):last-of-type) {

        //                         //-??% は手動調整
        //                         li:nth-of-type(1) {
        //                                 transform: translateX(-49.5%);
        //                         }

        //                         li:nth-of-type(2) {
        //                                 transform: translateX(49%);
        //                         }

        //                         li:nth-of-type(3) {
        //                                 transform: translateX(-38%);
        //                         }

        //                         li:nth-of-type(4) {
        //                                 transform: translateX(38%);
        //                         }

        //                         li:nth-of-type(5) {
        //                                 transform: translateX(-7%);
        //                         }

        //                         li:nth-of-type(6) {
        //                                 transform: translateX(7%);
        //                         }
        //                 }

        //                 ul:has(li:nth-of-type(5):last-of-type) {

        //                         li:nth-of-type(1),
        //                         li:nth-of-type(5) {
        //                                 transform: translateY(49% - 80%);
        //                         }

        //                         li:nth-of-type(2),
        //                         li:nth-of-type(4) {
        //                                 transform: translateY(89% - 80%);
        //                         }

        //                         li:nth-of-type(3) {
        //                                 transform: translateY(100% - 80%);
        //                         }
        //                 }

        //                 ul:has(li:nth-of-type(4):last-of-type) {

        //                         li:nth-of-type(1),
        //                         li:nth-of-type(4) {
        //                                 transform: translateY(58% - 80%);
        //                         }

        //                         li:nth-of-type(2),
        //                         li:nth-of-type(3) {
        //                                 transform: translateY(95.5% - 80%);
        //                         }
        //                 }

        //                 ul:has(li:nth-of-type(3):last-of-type) {

        //                         li:nth-of-type(1),
        //                         li:nth-of-type(3) {
        //                                 transform: translateY(68% - 80%);
        //                         }

        //                         li:nth-of-type(2) {
        //                                 transform: translateY(100% - 80%);
        //                         }
        //                 }

        //                 ul:has(li:nth-of-type(2):last-of-type) {

        //                         li:nth-of-type(1),
        //                         li:nth-of-type(2) {
        //                                 transform: translateY(83% - 80%);
        //                         }
        //                 }

        //                 ul:has(li:nth-of-type(1):last-of-type) {
        //                         li:nth-of-type(1) {
        //                                 transform: translateY(100% - 80%);
        //                         }
        //                 }
        //         }

        //         .HeaderLogo {
        //                 @apply absolute w-[var(--logoW)] top-1/2 left-0 translate-y-[-50%] pointer-events-auto h-auto;
        //                 background: url(/images/clip01.png) repeat center/20vw;
        //                 filter: grayscale(50%);
        //                 border-radius: 0 999px 999px 0;
        //                 overflow: hidden;
        //                 border-left: 0;
        //                 aspect-ratio: 1/2;
        //                 transform-origin: 0 0%;
        //                 transition: var(--trans);
        //                 border: var(--line);

        //                 &:hover {
        //                         scale: 1.06;
        //                 }

        //                 a {
        //                         font-size: 2vw;
        //                         line-height: 1;
        //                         padding-left: 0.5em;
        //                         display: block;
        //                         height: 100%;
        //                         align-content: center;
        //                         background-color: var(--WH);

        //                         >span {
        //                                 font-weight: 700;
        //                                 -webkit-text-stroke: .025em var(--BK50);
        //                                 paint-order: stroke;
        //                                 background: url(/images/clip01.png) repeat 70% 50%/10vw;
        //                                 background-color: var(--WH);
        //                                 background-clip: text;
        //                                 color: var(--TR);
        //                         }
        //                 }
        //         }

        //         .HeaderMenu {
        //                 @apply top-2 right-2;
        //         }



        //         .HeaderItems {
        //                 @apply flex flex-col items-end text-right p-2 gap-0;

        //                 @include menu {
        //                         order: 3;
        //                 }
        //         }

        //         .HeaderItems>a {
        //                 @apply px-[--headG];
        //         }

        //         .DropIcon {
        //                 @apply ml-1;
        //         }

        //         .NavInner ul a {
        //                 display: block;
        //                 text-align: right;

        //         }

        //         .HeaderNavMobile .NavInner .DropBtn {
        //                 display: none;
        //         }
        // }

        &.NoLogo .HeaderLogo {
                display: none;
        }

        &.TopHidden {
                transition: var(--trans);
                opacity: 0;

                &:hover {
                        opacity: 1;
                }

                &.trans {
                        opacity: 1;
                }
        }

        &.mix-blend-difference {
                color: var(--WH);
                --menuC: inherit;

                @include menu {
                        color: inherit;
                        mix-blend-mode: unset;
                }

                &.active {
                        mix-blend-mode: unset;
                }
        }

}
